

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    margin: 0;
    align-items: center;
}

h1 {
    font-family: "Roboto";
    font-size: 1.5em;
}

h2 {
    font-family: "Lora";
    font-size: 1.2em;
}

h3 {}



a {
    text-decoration: none;
    color: black;
}

a:hover {
    transition: all 0.1s ease;
    filter: drop-shadow(0 0 15px darkgray);
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: fixed;
    height: 80px;
    background-color: white;
    align-items: center;
}

.top-left {
    padding-left: 20px;
}

.top-left:hover {
    filter: contrast(50%)

}

.top-left-full {
    padding-left: 10px;
}

.top-left-full:hover {
    filter: contrast(50);
    transition: all 1s ease;
    filter: drop-shadow(0 0 5px black);

}

.searchbar {
    padding: 0 30px 0 30px;
    margin: 30px;
    align-self: center;
    height: 30px;
    width: 100%;
    display: flex;
    border: 1px solid black;
    border-radius: 25px;
    
}

.searchbar input {
    border: none;
    width: 100%;
    text-align: space-between;
    align-items: center;
    padding-right: 0;
}

.searchbar input:focus {
    outline : none;
}

button {
    border: none;
    background-color: white;
}

button:hover {
    background-color: #99E73D;
    border-radius: 10px;

}

.top-right {
    display: flex;
    margin-right: 10px;
}

.top-right .icons {
    width: 30px;
}

.icons:hover {
    filter: brightness(200%);
    filter: contrast(10%);
    transition: all 1s ease;
    filter: drop-shadow(0 0 5px black);
}

.consoles {
    Position: fixed;
    height: auto;
    margin-top: 100px;
    width: 100%;
    align-self: top;
    background-color: #99E73D;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    padding: 4px;
    margin: 0;
    font-weight: bold;
}


main {
    display: flex;
    justify-content: center;
    padding: 120px 0 70px 0;
}

.main_content {
    display: flex;
    width: 80%;
    height: 100%;
    padding: 10px;
    margin: 10px;
    justify-content: center;
}

.main_login {
    align-items: center;
    text-align: center;
}

.main_login img {
    width: 100%;
    max-width: 600px;
}

.main_login fieldset {
    background-color: lightblue;
    font-weight: bold;
    text-align: right;
}

.main_login a {
    font-weight: bold;
    text-decoration-line: underline;
}

.main_login a:hover {
    color: black;
    transition: all 0.1s ease;
    filter: drop-shadow(0 0 10px black);

}

.games {
    display: flex;
    flex-wrap: wrap;
}

.games img {
    width: 100px;
}

.boxart {
    font-family: "Lora";
    font-size: 1em;
    display: flex;
    flex-direction: column;
    width: 120px;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6);
    padding: 0 15px 20px;
}


.boxart_under {
    display: flex;
    justify-content: space-around;
}

.boxart_blurb {
    display: flex;
}

.boxart_blurb img {
    width: 30px;
    height: 30px;
}

.textbox {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 30px;
    width: 100%;
    max-width: 600px;
    background-color: lightgrey;
    padding: 20px;
}

.textbox img {
    width: 100%;
    max-width: 1200px;
}


footer {
    display: flex;
    justify-content: right;
    padding-top: 10px;
    background-color: #C5D1D9;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    border: 1px solid;
}

footer a {
    padding-right: 20px;
    font-weight: bold;
}




@media only screen and (min-width: 600px) {
    .top-left {
        display: none;
    }    
}

@media only screen and (max-width: 600px) {
    .top-left-full {
        display: none;
    }
    .top-right {
        margin-left: none;
    }

    .consoles ul {
        flex-wrap: wrap;
        gap: 10px;
    }

    .searchbar {
        margin-right: 10px;
    }

}