/* #page {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas:
      "side head head head side"
      "side nav nav nav side"
      "side main main main side"
      "side foot foot foot side";
    grid-template-rows: 50px 50px 1fr 30px;
    grid-template-columns: 50px 150px 1fr 150px 50px;
  }
  
  #page > header {
    grid-area: head;
    background-color: #8ca0ff;
  }
  
  #page > nav {
    grid-area: nav;
    background-color: #ffa08c;
  }
  
  #page > main {
    grid-area: main;
    background-color: #ffff64;
  }

  #page > side {
    grid-area: side;
    background-color: white;
  }
  
  #page > footer {
    grid-area: foot;
    background-color: #8cffa0;
  } */

  #page {
    display: grid;
    width: 100%;
    height: 1fr;
    grid-template-areas:
      "head head"
      "nav  main"
      "nav  foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: 150px 1fr;
  }
  
  #page > header {
    grid-area: head;
    background-color: #8ca0ff;
  }
  
  #page > nav {
    grid-area: nav;
    background-color: #ffa08c;
  }
  
  #page > main {
    grid-area: main;
    background-color: #ffff64;
  }
  
  #page > footer {
    grid-area: foot;
    background-color: #8cffa0;
  }
  